.menu
    border: 1px solid green
    margin: 10px
    &-checkbox
        margin: 2em
        &:checked
            & ~ .header
                .menu-open
                    border: 1px sold blue
    &-open
        border: 1px solid orange